/* Banner */
.banner {
  margin-left: 200px; /* Align beside sidebar */
  width: calc(100% - 200px);
  height: 756px; /* Height of the banner */
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0; /* No space below newsbar */
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
